# Node / Bun
node_modules
package-lock.json
Dockerfile*
docker-compose*
.dockerignore

# Git / IDE
.git
.gitignore
.vscode
.idea

# Docs / configs / scripts
README.md
LICENSE
Makefile
.env
.editorconfig
helm-charts
eslint.config.ts
CHANGELOG.md
.releaserc.json

# Coverage / build outputs
coverage*
dist*
test
